@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/* -webkit-box-shadow: -2px 0px 3px 1px rgba(222, 222, 222, 1);
-moz-box-shadow: -2px 0px 3px 1px rgba(222, 222, 222, 1);
box-shadow: -2px 0px 3px 1px rgba(222, 222, 222, 1); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}

body{
    background-color: #F1F2F4;
}
.container{
    max-width: 1334px;
    margin: auto;
}
/* ====================================== */

header{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #474748;
    background-color: white;
}



.logo{
    width: 160px;
}

.searchber{
    height: 40px;
    width: 560px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #777A7E;
    background-color: #F0F5FF;
}

.searchber i{
   font-size: 1.4rem;
   margin: 0px 10px;
}

.searchber input{
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    font-size: 1.1rem;

}
.hiconcss{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
    

}

.hiconcss i{
    font-size: 1.2rem;
}
div>.ldicon{
   font-size: 0.7rem; 
}

/* --------------------- */
.catagory_container{
    height: 140px;
}
.catagory{
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: 10px 0px;
    
}

.catimginfo{
    text-align: center;
}

/* ================================================= */

/* 
.slidercontainer{
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .slider{
    height: 220px;
    width: 100%;
    background-image: url(slider3.webp);
    position: relative;
} */

.gallary {
    /* border: 2px solid red; */
    width: 100%;
    margin: auto;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    gap: 20px;
    cursor: pointer;
}
.gallary::-webkit-scrollbar{
    display: none;
}
.slidericon{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sileft{
    height: 88px;
    width: 40px;
    color: #8B8B8B;
    background-color:white ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.siright{
    height: 88px;
    width: 40px;
    color: #8B8B8B;
    background-color:white ;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ============================================= */



.productsectin1{
    height: 345px;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.psright{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.psright img{
    height: 320px;
    width: 210px;
    
}

.psleft{
    height: 100%;
    width: 1100px;
    background-color: white;
}

.productheader{
    height: 80px;
    width: 100%;
    padding: 0px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productheader h3{
    color: #212121;
}
.productheader i{
    height: 24px;
    width: 24px;
    color: white;
    background-color: #1c41dc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.product{
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px groove #bdbdbd;
    border-radius: 3px;
    margin: 0px 13px;
}
.product img{
    height: 150px;
    width: 100%;
    padding: 0px 10px;
    border: none;
}
.productimg img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}
.productinfo{
    text-align: center;
    margin-top: 30px;
}
.productinfo p{
    font-size: 0.9rem;
    
}
.productinfo h5{
    color: #212121;
    margin-top: 5px;
}

.productgroup{
    display: flex;
   overflow: hidden;
   position: relative;
}

.productiright{
    position: absolute;
    height: 88px;
    width: 40px;
    background-color:white ;
    color: #8B8B8B;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 32%;
    right: 0;
    -webkit-box-shadow: -2px 0px 3px 1px rgba(222, 222, 222, 1);
-moz-box-shadow: -2px 0px 3px 1px rgba(222, 222, 222, 1);
box-shadow: -2px 0px 3px 1px rgba(222, 222, 222, 1);
}

/* ===================================================== */






.productsectin2{
    height: 345px;
    width: 100%;
    margin-top: 20px;
}


.psleft2{
    height: 100%;
    width: 100%;
    background-color: white;
}



/* ========================== */

.branddirectory{
    height: auto;
    width: 100%;
    padding: 50px;
    margin: auto;
    color: #565656; 
    background-color: #eeeeee;
}
.linkheader{
    padding-left: 15px;
}

.directorylink{
    margin-top: 15px;
    padding-left: 15px;
    
}

.directorylink span{
    font-size: 0.9rem;
}
.directorylink a{
    font-size: 0.8rem;
    color: #565656; 
}

/* =========================================== */
footer{
    height: 320px;
    width: 100%;
    margin: auto;
    background-color: #212121;
}

.footpara{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footparainfo{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 600;
    gap: 5px;
    margin-top: 10px;
}

.footparahead p{
    font-size: 0.8rem;
    color: #878787;
}

.footparainfo a{
    color: white;
}

p{
    font-size: smaller;
}
/* .footerdiv{
    height: 170px;
    width: 1px;
    border: 1px groove #4c4c4c;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* --------------------------------------------------------- */

.ads{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
}
.ads img{
    width: 33%;
}


/* -------------------------------------------------------- */

.footerbtm{
    height: 70px;
    width: 100%;
    border-top: 1px groove #454D5E;
}

.footbtmgroup{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 0.7rem;
    padding: 0px 30px;
}


